// /* Global styles */
$f1-color: #cbe4de;
$f2-color: #0e8388;
$f3-color: #2e4f4f;
$f4-color: #2c3333;

html {
  height: 100%;
  margin: 0;
  font-size: 16px;
}
body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  color: $f1-color;
  background-color: $f3-color;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $f4-color;
  color: $f1-color;
  width: 100%;
}
p {
  display: flex;
  align-items: center;
  justify-content: center;
}
.username-text {
  color: $f2-color;
  text-decoration: none;
}
.logo {
  font-size: 2rem;
}
.logo a[href] {
  text-decoration: none;
  color: $f1-color;
}
.nav-links {
  display: flex;
  justify-content: space-between;
  width: auto;
}
.nav-links a {
  color: $f1-color;
  text-decoration: none;
  padding: 0.5rem;
  transition: all 0.2s ease-in-out;
}
.nav-links a:hover {
  background-color: $f1-color;
  color: #2b2a2a;
  border-radius: 5px;
}
.user-info {
  display: flex;
  align-items: center;
}
main {
  max-width: 960px;
  margin: 0 auto;
  padding: 4rem;
}
.wrapper {
  min-height: 100%;
  margin-bottom: -50px;
}
footer {
  background-color: $f4-color;
  color: $f1-color;
  text-align: center;
  padding: 1rem;
}
.image-container {
  margin: 1rem;
  width: 2rem;
  height: 2rem;
  background-image: url(/pages/home/image1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
h1 {
  margin-top: 0;
}
.form-group {
  margin: 10px 0;
  text-align: left;
}
label {
  display: block;
  margin-bottom: 5px;
  font-weight: 700;
  color: $f1-color;
}
input {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid $f2-color;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
  background-color: $f3-color;
  color: $f1-color;
}
input:focus {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: $f1-color;
  color: $f4-color;
}
button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: $f2-color;
  color: $f1-color;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: $f3-color;
}
a {
  display: flex;
  padding-left: 10px;
  color: $f1-color;
  text-align: start;
}
a:hover {
  color: $f1-color;
  text-decoration: underline;
}
a:visited {
  color: $f1-color;
  text-decoration: none;
}
@media screen and (max-width: 480px) {
  .button {
    display: block;
    margin: 10px 0;
    width: 100%;
  }
}

.login-container {
  width: 53%;
  margin: 0 auto;
  border-radius: 10px;
  background-color: $f4-color;
  padding: 20px;
  text-align: center;
}

@media only screen and (max-width: 525px) {
  .username-text {
    display: none;
  }

  .login-container {
    width: 80%;
  }
}

@media only screen and (max-width: 750px) {
  .login-container {
    width: 70%;
  }
}
